.container {
  width: 25%;
  text-align: center;
  height: 100%;
  float: left;
}

img {
  width: 400px;
}

.black,
.blue,
.blue,
.mint,
.pink,
.purple,
.white,
.yellow {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.black {
  background-color: #393939;
}

.blue {
  background-color: #577f99;
}

.mint {
  background-color: #c9f7f4;
}

.pink {
  background-color: #fbdfeb;
}

.purple {
  background-color: #a5a0f3;
}

.white {
  background-color: #f3f3f1;
}

.yellow {
  background-color: #fee4a5;
}



.buy {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
  margin-bottom: 40px;
}

.buy:hover {
  background-color: #2980b9;
}
